<nav class="navbar is-primary is-bold">
  <div class="navbar-brand">
    <p class="title navbar-item mb-0">Joe's Rec League</p>
    <a class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a href='/' class="navbar-item">
        Home
      </a>
      <a href='/about' class="navbar-item">
        About
      </a>
      <a href='/contact' class="navbar-item ">
        Contact
      </a>
      </span>
    </div>
  </div>
</nav>