<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %>
<body>
  <%- include('./partials/_nav.ejs') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="index.js"></script>
</body>
</html>